/* CSS Document */
body {
    font: 12px arial;
    color: #222;
    text-align: center;
    padding: 35px;
}

form, p, span {
    margin: 0;
    padding: 0;
}

input {
    font: 12px arial;
}

a {
    color: #0000FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wrapper{
    margin: 0 auto;
    padding-bottom: 25px;
    background: #EBF4FB;
    width: 99%;
    border: 1px solid #ACD8F0;
}

.chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    height:auto;
    width:95%;
    border: 1px solid #ACD8F0;
    overflow: auto;
    min-height: 240px;
}

.chats{
    display: flex;
}

.usermsg {
    border: 1px solid #ACD8F0;
    width:90%;
}

.submit {
    width: 60px;
}

.error {
    color: #ff0000;
}

.menu {
    padding: 12.5px 25px 12.5px 25px;
}

.welcome {
    float: left;
}

.logout {
    float: right;
}

.msgln {
    margin: 0 0 2px 0;
}

.message{
    width: 100%;
}

.customer{
   word-wrap: break-word;
    margin: 2px;
    padding: 2px;
    color: #3ac162;
}
.support{
    word-wrap: break-word;
    margin: 2px;
    padding: 2px;
    color: #222222;
}