<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Chat - Customer Module</title>
    <link type="text/css" rel="stylesheet" href="/css/support-chat.css"/>
    <script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css" rel="stylesheet"/>
    <script src="https://code.angularjs.org/1.2.0/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.js"></script>
    <script src="/js/chat.js"></script>
</head>
<body ng-app="myApp" ng-init="init()" ng-controller="AppCtrl">
<toaster-container toaster-options="{'time-out': 10000}"></toaster-container>
<div id="wrapper" class="wrapper">
    <div id="menu" class="menu">
        <siv class="welcome">Welcome, {{userName}} <b></b></siv>
        <div class="logout">Topic: {{topic}}</div>
    </div>

    <div id="chatbox" class="chatbox">
        <div class="chats" ng-repeat="chat in chats | orderBy:'time'">
            <div class="chat {{chat.class}}"> {{chat.user}} : {{chat.chatContent}}</div>
        </div>

    </div>

    <div id="message" class="message">
        <input id="input" ng-model="chatMessage" name="usermsg" type="text" class="usermsg" size="1024"/>
        <input id="send" name="submitmsg" ng-click="sendChat()" type="submit" class="submitmsg" value="Send"/>
    </div>
</div>
<script type="text/javascript">
window.onload = function() {
    a= document.getElementById('chatbox');
    a.scrollTop = a.scrollHeight
    document.getElementById("input")
            .addEventListener("keyup", function(event) {
                event.preventDefault();
                if (event.keyCode == 13) {
                    document.getElementById("send").click();
                }
                event.stopPropagation();
            });
};
</script>
</body>
</html>